[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
ezcliy = ">=0.2.1"

[dev-packages]
wheel = "*"
twine = "*"

[requires]
python_version = "3.9"

[setup]
name = "pipenv-publisher"
descriptio = "Pipenv integration for setuptools."
author = "Krystian Postek"
author_email = "krystian@postek.eu"
version = "0.1.0a7"
packages = [
    "publisher",
    "publisher._sample"
]
project_urls = {Repository = "https://github.com/kpostekk/pipenv-publisher"}
entry_points = {"console_scripts" = ["pipenv-pub=publisher:run"]}
license = "Apache"

[setup.package_data]
publisher = ["meta.json"]

[scripts]
build = "python setup.py bdist_wheel build"
slock = "pipenv-pub lock"
stamp = "pipenv-pub stamp"
pub = "pipenv-pub"

[pipenv]
allow_prereleases = true
